In [30]:
import yfinance as yf
import pandas as pd

coin_name = "CAKE"
btc_data = yf.download(tickers="CAKE-USD", period="max")

[*********************100%***********************]  1 of 1 completed

In [31]:
btc_data.to_csv("./dataset/cake.csv")
btc_data = pd.read_csv("./dataset/cake.csv").dropna(how='all', axis='columns')
btc_data

           Date      Open      High       Low     Close  Adj Close     Volume
0    2020-09-29  1.374533  1.374533  0.000232  1.117862   1.117862          0
1    2020-09-30  1.115781  1.115977  0.435865  0.436443   0.436443    6704237
2    2020-10-01  0.435000  0.538305  0.322736  0.415366   0.415366    4444223
3    2020-10-02  0.415188  0.551662  0.415188  0.506049   0.506049    3022650
4    2020-10-03  0.506091  0.721180  0.486243  0.666428   0.666428    5491573
..          ...       ...       ...       ...       ...        ...        ...
517  2022-02-28  6.234625  6.842728  6.173195  6.829715   6.829715  144772310
518  2022-03-01  6.830568  7.044542  6.690976  6.764140   6.764140  191782635
519  2022-03-02  6.764326  6.841677  6.641720  6.826371   6.826371  159732938
520  2022-03-03  6.826602  6.875668  6.516674  6.574574   6.574574  127112717
521  2022-03-05  5.985912  6.128015  5.915937  6.113462   6.113462  110661400

[522 rows x 7 columns]

In [32]:
btc_data[101:116]

           Date      Open      High       Low     Close  Adj Close   Volume
101  2021-01-08  0.602950  0.640080  0.564226  0.582859   0.582859  6062812
102  2021-01-09  0.582807  0.603400  0.562591  0.578834   0.578834  4085193
103  2021-01-10  0.578747  0.599594  0.525070  0.550566   0.550566  4136438
104  2021-01-11  0.550379  0.551259  0.448577  0.481717   0.481717  5661540
105  2021-01-12  0.481545  0.544521  0.470052  0.524700   0.524700  3911640
106  2021-01-13  0.524834  0.611493  0.508846  0.601081   0.601081  8758432
107  2021-01-14  0.601216  0.628274  0.572908  0.607008   0.607008  5862096
108  2021-01-15  0.607023  0.635313  0.582748  0.599111   0.599111  5525979
109  2021-01-16  0.599539  0.665626  0.599461  0.643383   0.643383  4666778
110  2021-01-17  0.643258  0.697301  0.628922  0.687022   0.687022  7002967
111  2021-01-18  0.687942  0.770783  0.671849  0.769010   0.769010  6730431
112  2021-01-19  0.769010  0.777541  0.704063  0.733305   0.733305  1879875
113  2021-01-20  0.733668  0.754197  0.674621  0.747440   0.747440  6408688
114  2021-01-21  0.747175  0.757104  0.686676  0.699265   0.699265  9134523
115  2021-01-22  0.699505  0.889471  0.657372  0.876593   0.876593  9942442

In [33]:
cols = ["Date", "Close"]
pd.DataFrame(btc_data, columns=["Date", "Close"])

           Date     Close
0    2020-09-29  1.117862
1    2020-09-30  0.436443
2    2020-10-01  0.415366
3    2020-10-02  0.506049
4    2020-10-03  0.666428
..          ...       ...
517  2022-02-28  6.829715
518  2022-03-01  6.764140
519  2022-03-02  6.826371
520  2022-03-03  6.574574
521  2022-03-05  6.113462

[522 rows x 2 columns]

In [34]:
data = pd.DataFrame(btc_data, columns=["Date", "Close"])
data.to_csv("./dataset/ada_data.txt", header=None)